.DS_Store
.env

/node_modules/


node-red-data2/.npm/
node-red-core/.npm/
node-red-worker2-data/.npm/
/node-red-data2/node_modules/

/frontend/cypress/
/src/node_modules/*
yarn-error.log
/frontend/cypress/screenshots/
.firebase/

!/frontend/node_modules/smelte/
/frontend/node_modules/smelte/node_modules/
/frontend/node_modules/
node-red-data2/externalModules/

node-red-data2/journals/
front/node_modules/

redis-data/dump.rdb

############################
# OS X
############################

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*


############################
# Linux
############################

*~


############################
# Windows
############################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp


############################
# Packages
############################

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid


############################
# Logs and databases
############################

.tmp
*.log
*.sql
*.sqlite
*.sqlite3


############################
# Misc.
############################

*#
ssl
.idea
nbproject
public/uploads/*
!public/uploads/.gitkeep

############################
# Node.js
############################

lib-cov
lcov.info
pids
logs
results
node_modules
.node_history


############################
# Tests
############################

testApp
coverage

############################
# Strapi
############################

.env
license.txt
exports
.cache
_cacache/*

front/__sapper__/dev/
front/__sapper__/dev/client/*
front/__sapper__/dev/*

redis-data/dump.rdb
redis-data/dump.rdb
